<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<style>
  body{
    background-image: url("../static/img/weather.png");
  }
  .tex
  {
    margin-right: 10%;
    margin-left: auto;
    text-align: center;
    width: 80%;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
    padding: 3px;
    font-family: 华光楷体_CNKI;
    font-size: 50px;
  }
</style>
<body>
<p style="text-align: center;font-family: 华光楷体_CNKI;font-size: 80px">介绍</p>
<div class="tex">随着现代计算机设备的迅速发展，计算能力的不断加强，利用算法实现人工智能逐渐成为可能。计算机视觉（简称cv）的发展使得计算机能像人一样处理图片，甚至在某些方面能超越人类的表现。同我们大部分人所想的不同，计算机不仅可以识别图像，还可以完成一些类似创作的任务，生成一些图片，比如人脸的生成，风景的生成。本网页是基于CVPR的2021年发布的文章<a href=https://arxiv.org/abs/2103.17249 target="_blank">StyleCLIP: Text-Driven Manipulation of StyleGAN Imagery</a>的所创作的网站，用户可以通过提供的选项对上传的图片进行编辑，比如发型的改变，表情的改变等，从而得到想要的图片效果。回望发展过程，从GAN开始的图像生成带来了图像生成的巨大浪潮，后来stylegan与升级版stylegan2引入latent space等技术更好地实现了对图像特征的提取与生成，再到后来随着OpenAI实验室用4亿的数据文本对训练出了CLIP模型，真正将自然语言级别抽象概念带到了图像处理中，让文本驱动的图像编辑成为可能，本网站基于的文章就是将CLIP同StyleGan结合的。</div>
</body>
</html>