<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<style>
  body{
    background-image: url("../static/img/weather.png");
  }
  .tex
  {
    margin-right: 10%;
    margin-left: auto;
    text-align: center;
    width: 80%;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
    padding: 3px;
    font-family: 华光楷体_CNKI;
    font-size: 50px;
  }
</style>
<body>
<p style="text-align: center;font-family: 华光楷体_CNKI;font-size: 80px">联系</p>
<div class="tex"><p>本人（即网页作者）是西安电子科技大学浪潮俱乐部ai组成员之一，目前大二，由于本人前端技术有限，所以网页的显示效果不是那么好，如果有前端的大佬能给出一些建议，我将不胜感激。本网页项目代码已上传至github，欢迎大家pr。</p><p>ps：（偷偷放个qq号）qq：3280766911欢迎对人工智能感兴趣的朋友一起交流哦</p></div>
</body>
</html>