<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<style>
  body{
    background-image: url("../static/img/weather.png");
  }
  .tex
  {
    margin-right: 10%;
    margin-left: auto;
    text-align: center;
    width: 80%;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
    padding: 3px;
    font-family: 华光楷体_CNKI;
    font-size: 50px;
  }
</style>
<body>
<p style="text-align: center;font-family: 华光楷体_CNKI;font-size: 80px">帮助文档</p>
<div class="tex"><p>本网站由于是第一次搭建，所以有许多设置不太好的地方，所以便有了这篇帮助文档。使用步骤如下：</p><p><li>首先，先点击网页最上方导航栏的编辑选项进入编辑页面</li><li>然后，点击上传图片选项，上传图片后在下方选项中选择自己想要的效果</li><li>最后点击运行按钮，等待一两分钟左右便可以在右侧的展示窗口看到编辑后的图片啦</li></p></div>
</body>
</html>