
<div class="top-bar">
    <div class="box-top">
        <ul class="top-ui">
            <li>
                <a href="/"><img src="img/logo_min.png"></a>
            </li>
            <li>
                <a href="#">推荐</a>
            </li>
            <li>
                <a href="#">找房</a>
            </li>
            <li>
                <a href="#">帮助</a>
            </li>
            <li>
                <a href=“#" target="_blank">登录/注册</a>
            </li>
        </ul>
    </div>
</div>